{% extends 'base.html' %}
{% block content %}
<div class="table-responsive-sm">
    <table class="table">
      <thread class="thead bg-light">
          <tr>
              <th scope="col"> ID </th>
              <th scope="col"> Username </th>
              <th scope="col"> Email </th>
               <th scope="col"> Action </th>

          </tr>
          {% for user in users %}
          <tr class="tbody">
              <td>{{user.id}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <th>
                  <a href ='/user/adminedit/{{user.id}}'>Edit </a> |
                  <a href ='/user/admindelete/{{user.id}}'>Delete</a>
              </th>
          </tr>
           {% endfor %}
      </thread>
    </table>
  </div>
{% endblock %}