<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <form action="/user/adminlogin" method="post">
        {% csrf_token %}
        <label  >Username:</label> 
        <input type="text" name="username" placeholder="enter username here">
    </br>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Enter password here">
    <br>
    <input type="submit" value="Login">
    </form>
    <a href="/user/adminregister">Register here </a>
</body>
</html>